@font-face {
  font-family: Magelove;
  src: url('/fonts/Magelove.otf');
}

.magelove {
  font-family: Magelove;
}

@layer base {
  h1 {
    font-size: var(--text-4xl);
    font-family: Magelove, Times, serif;
  }
  h2 {
    font-size: var(--text-3xl);
    font-family: Magelove, Times, serif;
  }
}
