---
import FormattedDate from '../misc/FormattedDate.astro';

const { post } = Astro.props;
---

<a
  class="spx spx-card spx-card-content"
  spx-variant="contained"
  spx-color="surface"
  href={`/blog/${post.slug}/`}
>
  <h3 class="spx" spx-color="text-default">{post.data.title}</h3>
  <p><FormattedDate date={post.data.pubDate} /></p>
</a>

<style>
  a {
    color: var(--spx-color-on-surface) !important;

    > * {
      margin: 0;
    }
  }
</style>
