<span id="progress-indicator-container">
  <span id="progress-indicator"></span>
</span>
<style>
  #progress-indicator-container {
    position: fixed;
    height: 5px;
    width: 0;
    left: 0;
    top: var(--spx-app-bar-height);
    z-index: 11;
    overflow: hidden;
    background-color: var(--spx-color-background);
  }

  #progress-indicator {
    background: var(--spx-color-gradient);
    height: 100%;
    width: 100vw;
    display: block;
  }
</style>

<script>
  const progressIndicatorContainer = document.getElementById(
    'progress-indicator-container'
  );

  const updateProgressIndicator = () => {
    const scroll = window.scrollY;
    const height = document.documentElement.scrollHeight - window.innerHeight;
    const percentage = (scroll / height) * 100;
    if (progressIndicatorContainer)
      progressIndicatorContainer.style.width = `${percentage}vw`;
  };

  window.addEventListener('scroll', updateProgressIndicator);
  updateProgressIndicator();
</script>
