@import '@spuxx/browser-utils/styles';
@import '@spuxx/browser-utils/themes';
@import './content.css';

:root * {
  transition:
    transform 200ms,
    box-shadow 200ms,
    background 200ms,
    background-color 200ms,
    border-color 200ms,
    padding 200ms;
}

html {
  background: var(--spx-color-background);
  color: var(--spx-color-on-background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: var(--spx-main-content-width);
  margin: auto;
}

.spx-app-bar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a.spx-button {
  text-decoration: none;
}

.spx-app {
  pre.astro-code {
    padding: 0.5rem;
    border-radius: var(--spx-border-radius);
    font-size: medium;
  }

  code:not(:has(span)) {
    padding: 0.25rem;
    border-radius: var(--spx-border-radius);
  }

  pre.astro-code,
  code,
  blockquote {
    background: var(--spx-color-surface) !important;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1.5rem;
    border-radius: var(--spx-border-radius);
  }
}
